.btn {  
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 20px 40px;
  /*cursor: pointer;*/
  font-size: 1.1rem;
  filter: blur(2px);
  white-space: nowrap;
  box-shadow: 0 2px 2px 0 var(--shadow-clr);
  transition: all 0.2s ease;
}

/*.btn:active {
  box-shadow: initial;
  transform: scale(0.98, 0.98) translateY(1px);
}*/
