.form {
  width: clamp(319px, 100%, 800px);
}

.legend {
  background-color: var(--primary-light-clr);
  border-bottom: 1px solid var(--border-clr);
  border-radius: 16px 16px 0 0;
  color: var(--font-clr);
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.formGrid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--primary-light-clr);
  border-top: none;
  border-radius: 0 0 16px 16px;
  padding: 40px;
  transition: background-color 0.2s ease;
}

.button {
  float: right;
  color: var(--background-clr);
  background-color: var(--primary-clr);
  border-radius: 40px;
  width: 100px;
  height: 42px;
  padding: 10px 20px;
  margin-right: 40px;
  margin-top: 30px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.button:hover, .button:disabled {
  background-color: var(--primary-dark-clr);
}
