.table {
  border-collapse: collapse;
  white-space: nowrap;
  min-width: 300px;
  width: 100%;
}

.capital::first-letter {
  text-transform: uppercase;
}

.table thead {
  border-bottom: 1px solid var(--font-dimmed-clr);
  text-align: left;
}

.table tr {
  height: 48px;
}

.name {
  border: none;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
  background-color: inherit;
  color: var(--font-clr);
  padding: 10px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.name:hover {
  background-color: var(--primary-light-clr);
}
