.label span {
  display:block;
  margin-left: 7px;
  margin-bottom: 5px;
  font-size: 1.1rem;
  transition: color 0.2s ease;
}

.label:has(select:hover) span, .label:has(select:focus) span {
  color: var(--primary-clr);
}

.label select {
  background-color: var(--contrast-background-clr);
  outline: 1px solid transparent;
  border: 1px solid var(--font-clr);
  border-radius: 8px;
  width: 100%;
  padding: 10px 20px;
  font-size: 1.05rem;
  transition: all 0.2s ease;
}

.label select:hover {
  border-color: var(--primary-clr);
}

.label select:focus {
  background-color: var(--background-clr);
  border-color: var(--primary-clr);
  outline-color: var(--primary-clr);
}

.label select:disabled {
  color: var(--font-dimmed-clr);
}
