.group {
  position: relative;
  margin: 0 10px;
}

.group .label {
  cursor: default;
  display:block;
  width: fit-content;
  margin-left: 7px;
  margin-bottom: 15px;
  font-size: 1.1rem;
  font-weight: 600;
  transition: color 0.2s ease;
}

.group .label:hover {
  color: var(--primary-clr);
}

.group:has(.label:hover) .inputList {
  border-color: var(--primary-clr);
}

.group:has(.inputList:hover) .label,
.group:has(.inputList:focus) .label {
  color: var(--primary-clr);
}

.inputList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: var(--contrast-background-clr);
  outline: 1px solid transparent;
  border: 1px solid var(--font-clr);
  border-radius: 5px;
  min-height: 50px;
  padding: 15px 20px;
  transition: all 0.2s ease;
}

.inputList:hover {
  border-color: var(--primary-clr);
}

.inputList:focus {
  background-color: var(--background-clr);
  border-color: var(--primary-clr);
  outline-color: var(--primary-clr);
}

.inputList li {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 2px;
  margin-right: 25px;
  text-wrap: nowrap;
  overflow: hidden;
}

.inputList svg {
  border-radius: 50px;
  width: 1.8rem;
  height: 1.8rem;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.inputList svg:hover {
  background-color: var(--primary-light-clr);
}

.inputList .numInput {
  appearance: none;
  border-radius: 4px;
  border: 1px solid var(--font-clr);
  outline: 1px solid transparent;
  padding: 3px 5px;
  margin-right: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: border 0.2s ease, outline 0.2s ease;
}

.inputList .numInput::-webkit-outer-spin-button,
.inputList .numInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputList .numInput:focus {
  border-color: transparent;
  outline-color: var(--primary-clr);
}

.inputList .label {
  cursor: pointer;
}

.error {
  display: block;
  color: red;
  max-width: 290px;
  margin-left: 7px;
  font-size: 0.9rem;
  transition:
    opacity 0.2s ease,
    height 0.2s ease;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}
