.list {
  list-style-type: none;
}

.list li {
  padding: 15px;
  padding-left: 0;
  transition: background-color 0.2s ease;
}

.list li:last-child {
  border-radius: 0 0 0 16px;
}

.link {
  color: var(--font-clr);
  width: 100%;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.2s ease;
}

.link svg {
  min-width: 60px;
  font-size: 1.5rem;
  vertical-align: middle;
}

.link:hover, .link:focus {
  outline: none;
  color: var(--primary-clr);
  text-decoration: underline;
}

.active {
  color: var(--primary-clr);
  text-decoration: underline;
}

.list li:has(.active) {
  background-color: var(--primary-light-clr);
}

/* ============================= */

.container {
  border-radius: 16px 0 0 16px;
}



.activeContainer, .container:has(.active) {
  background-color: var(--contrast-background-clr);
}

.panelHeader {
  display: flex;
  align-items: center;
  border-radius: 16px 0 0 16px;
  padding: 15px;
  padding-left: 0;
  cursor: pointer;
  transition: color 0.2s ease;
}

.panelHeader span:first-child svg {
  min-width: 60px;
  font-size: 1.8rem;
  vertical-align: middle;
}

.panelHeader span:last-child {
  margin-right: 10px;
  margin-left: auto;
  transition: transform 0.2s ease;
}

.panelHeader span:last-child svg {
  vertical-align: middle;
}

.panel {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease;
  
}

.rotate {
  transform: rotateZ(-180deg);
}
