.list {
  list-style-type: none;
}

.list li {
  padding: 15px;
  padding-left: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: background-color 0.2s ease;
}

.list li:last-child {
  border-radius: 0 0 0 16px;
}

.link {
  color: var(--font-clr);
  width: 100%;
  margin-left: 60px;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--primary-clr);
  text-decoration: underline;
}

.active {
  color: var(--primary-clr);
  text-decoration: underline;
}

.list li:has(.active) {
  background-color: var(--primary-light-clr);
}

/* ============================= */

.panelLink {
  border-radius: 16px 0 0 16px;
  padding: 15px;
  padding-left: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
}

li:has(.active) {
  background-color: var(--contrast-background-clr);
}
  

.panelLink a {
  display: flex;
  align-items: center;
  color: var(--font-clr);
  width: 100%;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.2s ease;
}

.panelLink a > svg {
  min-width: 60px;
  font-size: 1.8rem;
  vertical-align: middle;
}

.panelLink a div svg {
  vertical-align: middle;
  transition: transform 0.2s ease;
}

.panelLink a div {
  margin-right: 10px;
  margin-left: auto;
}

.opacity {
  transition: opacity 0.2s ease-in-out;
}

.opacity100 {
  opacity: 1;
}

.opacity20 {
  opacity: 0.2;
}

.opened div svg {
  transform: rotateZ(-180deg);
}

.closed {
  height: 0;
  overflow: hidden;
  display: none;
}
