.iconLink {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--background-clr);
  background-color: var(--primary-clr);
  border-radius: 8px;
  width: fit-content;
  padding: 18px;
  margin: 0 auto;
  white-space: nowrap;
  text-decoration: none;
  transition: all 0.2s ease;
}

.iconLink:hover {
  background-color: var(--primary-dark-clr);
}

.iconLink svg {
  font-size: 1.5rem;
}
