.searchContainer {
  display: flex;
  align-items: center;
  min-width: 300px;
  height: 40px;
  padding: 10px 12px;
  margin-bottom: 3rem;
  border: 1px solid var(--primary-clr);
  outline: 1px solid transparent;
  border-radius: 8px;
  cursor: text;
  transition: all 0.2s ease;
}

.searchContainer:hover,
.searchContainer:has(.searchInput:focus) {
  outline-color: var(--primary-clr);
}

.searchIcon {
  margin: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.searchInput {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.05rem;
}
