.container {
  position: relative;
}

.user {
  color: var(--font-clr);
  border-radius: 8px;
  padding: 18px 17px;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  transition: color 0.2s ease;
}

.actionMenu {
  position: absolute;
  top: 45px;
  right: 5px;
  background-color: var(--contrast-background-clr);
  border: 1px solid var(--primary-clr);
  width: 170px;
  padding: 10px 0;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
}

.button {
  background-color: var(--contrast-background-clr);
  color: var(--font-clr);
  border: none;
  width: 100%;
  padding: 5px 17px;
  font: inherit;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover, .user:hover {
  color: var(--primary-clr);
}

.danger:hover {
  color: var(--error);
}

.icon {
  font-size: 1.2rem;
  vertical-align: middle;
}
