.topWave {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.topWave svg {
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 137px;
}

.topWaveFill {
  fill: #1A082D;
}

.container {
  position: relative;
  padding: 50px;
}

.commentsTitle{
  font-size: 2.5rem;
  font-weight: 700;
  color: #1A082D;
  text-align: center;
  margin-bottom: 2rem;
}
.commentsSubTitle{
  font-size: 1.5rem;
  font-weight: 500;
  color: #1A082D;
  text-align: center;
  margin-bottom: 2rem;
}
.commentsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}
.comment{
  width: 350px;
  height: 450px;
  padding: 23px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all 0.5s;
  margin: 10px;
}

.comment:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.commentAuthorImage{
  width: 50px;
  border-radius: 50%;
}
.commentText{
  font-size: 1.2rem;
  font-weight: 400;
  color: #1A082D;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.commentAuthor{
  font-size: 1.2rem;
  font-weight: 700;
  color: #1A082D;
  margin-top: .2rem;
  margin-left: .2rem;
}

.foundation{
  font-weight: 500;
  color: #1A082D;
}
.foundationDetails{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socialMedia{
  width: 23px;
}

.bottomWave {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.bottomWave svg {
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 137px;
}

.bottomWaveFill {
  fill: #1A082D;
}

.stars{
  width: 70px;
}
.centerStars{
  display: flex;
  justify-content: center;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .topWave svg {
      width: calc(111% + 1.3px);
      height: 73px;
  }
  .bottomWave svg {
    width: calc(111% + 1.3px);
    height: 73px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .topWave svg {
      width: calc(110% + 1.3px);
      height: 66px;
  }
  .bottomWave svg {
    width: calc(110% + 1.3px);
    height: 66px;
  }
  .commentText{
    font-size: 1rem;
  }
  .commentAuthor{
    font-size: 1rem;
  }
  .socialMedia{
    width: 10px;
  }
  .foundation{
    color: #1A082D;
    font-size: .6rem;
  }
}
