@keyframes pulseAndMove {
  0% {
    transform: scale(1) translate(0, 0) rotate(0deg);
    opacity: 0.4;
  }
  25% {
    transform: scale(1.1) translate(30px, -30px) rotate(90deg);
    opacity: 0.6;
  }
  50% {
    transform: scale(1) translate(-30px, -30px) rotate(180deg);
    opacity: 0.4;
  }
  75% {
    transform: scale(1.1) translate(-30px, 30px) rotate(270deg);
    opacity: 0.6;
  }
  100% {
    transform: scale(1) translate(0, 0) rotate(360deg);
    opacity: 0.4;
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-light-clr);
  width: 100%;
  min-height: 20vh;
  padding: 60px 0;
  overflow: hidden;
}

.container::before,
.container::after,
.container .circle {
  content: '';
  position: absolute;
  border-radius: 50%;
  filter: blur(60px);
  animation: pulseAndMove 8s ease-in-out infinite;
}

.container::before {
  background: var(--primary-clr);
  width: 400px;
  height: 400px;
  top: -110px;
  left: -80px;
  animation-delay: 0s;
}

.container::after {
  background: var(--primary-clr);
  width: 350px;
  height: 350px;
  bottom: -110px;
  right: -80px;
  animation-delay: -4s;
}

.circle:nth-child(1) {
  background: var(--primary-clr);
  width: 250px;
  height: 250px;
  top: 90%;
  left: 25%;
  animation-delay: -2s;
}

.circle:nth-child(2) {
  background: var(--primary-clr);
  width: 200px;
  height: 200px;
  top: 90%;
  right: 25%;
  animation-delay: -1s;
}

.container h2 {
  color: var(--font-clr);
  line-height: 1;
  font-size: 2rem;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .circle {
    display: none;
  }

  .container::before,
  .container::after {
    display: none;
  }

  .container h2 {
    font-weight: 600;
  }
}
