.heroSection{
  position: relative;
  background-image: var(--primary-light-clr);
  background-image:
    -webkit-linear-gradient(
      271deg,
      var(--primary-light-clr) 0%,
      var(--contrast-background-clr) 100%
    );
  background-image:
    linear-gradient(
      271deg,
      var(--primary-light-clr) 0%,
      var(--contrast-background-clr) 100%
    );
}

.container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 80%;
  min-height: calc(100vh - 70px);
  margin: 0 auto;
}

.heroVectorContainer {
  perspective: 2000px;
  transform-style: preserve-3d;
}

.heroVector{
  width: 100%;
  padding: 30px;
  transform: rotateX(-9deg) rotateY(-20deg);
  transition: transform 0.2s ease;
}

.textContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title{
  color: var(--primary-clr);
  font-size: 3.3rem;
  margin-bottom: 10px;
}

.text{
  color: var(--font-clr);
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.button{
  padding: 1rem 2.1rem 1.1rem;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-clr);
  transition: all 0.4s;
  color: var(--background-clr);
  cursor: pointer;
  font-weight: 800;
  font-size: 0.85em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.button:hover{
  background-color: var(--primary-dark-clr);
  color: white;
}

.buttonContainer{
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkContainer{
  display: flex;
  align-items: center;
  gap: 5px;
}

.check {
  width: 25px;
}

.attract{
  color: var(--font-clr);
}


/* @media (max-width: 884px) { */
@media (max-width: 1080px) {
  .container{
    flex-direction: column;
  }

  .heroVector {
    transform: rotateX(0) rotateY(0);
  }

  .textContainer{
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .title{
    font-size:3rem;
  }
  .button{
    padding: .5rem 2rem .8rem;
    border-radius: 10px;
    border: none;
    background-color: white;
    transition: all 0.4s;
    color: #f6003f;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.5em;
    text-transform: uppercase;
    text-align: center;
    z-index: 3;
  }
  .check {
    width: 15px;
  }
  .attract{
    font-size: 13px;
  }
}


@media (max-width: 678px) {
  .title{
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .title{
    font-size: 1.5rem;
  }
  .text{
    font-size: 1.2rem;
  }
  .button{
    font-size: 0.7rem;
  }
}
