.container {
	background-image:
		-webkit-linear-gradient(
			180deg,
			var(--primary-clr) 0%,
			var(--primary-dark-clr) 100%
		);
	background-image:
		linear-gradient(
			180deg,
			var(--primary-clr) 0%,
			var(--primary-dark-clr) 100%
		);
	padding: 70px 180px;
}

.container section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.container article {
	width: 15%;
	padding: 0 15px;
}

.container h3 {
	position: relative;
	color: var(--background-clr);
	margin-bottom: 35px;
	font-weight: 500;
	text-transform: capitalize;
}

.container article h3::before {
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--font-clr);
	width: 50px;
	height: 2px;
}

/* ======================================== */
.container article ul{
	list-style: none;
}

.container article ul li:not(:last-child) {
	margin-bottom: 10px;
}

.container article ul li a {
	position: relative;
	display: block;
	color: var(--background-clr);
	width: fit-content;
	opacity: 0.7;
	text-decoration: none;
	text-transform: capitalize;
	transition: all 0.2s ease;
}

.container article ul li a::before {
	content: '';
	position: absolute;
	left:0;
	bottom: -3px;
	background-color: var(--font-clr);
	width: 100%;
	height: 2px;
	transform: scaleX(0);
	transition: all 0.2s ease;
}

.container article ul li a:hover {
	opacity: 1;
}

.container article ul li a:hover::before {
	transform: scaleX(1);
}
/* ======================================== */


/* ======================================== */
.container article p {
  color: var(--background-clr);
  margin-top: 10px;
}
/* ======================================== */


/* ======================================== */
.social h3 {
	margin-bottom: 20px;
}

.social div {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: 200px;
	margin-bottom: 30px;
}

.social a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: var(--background-clr);
	color: var(--font-clr);
	height: 40px;
	width: 40px;
	opacity: 0.7;
	font-size: 1.5rem;
	border-radius: 50%;
	transition: all 0.2s ease;
}

.social a:hover {
	opacity: 1;
}

.social svg {
	all: unset;
}
/* ======================================== */


@media(max-width: 768px){
	.container {
		padding: 70px 20px;
	}

  .container article {
    width: 100%;
    margin-bottom: 50px;
	}

	.container article h3 {
		margin-bottom: 20px;
	}

	.container article h3::before {
		bottom: -8px;
	}

	.container article ul li a::before {
		display: none;
	}
}
