.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.content h2 {
  color: var(--font-clr);
  margin-bottom: 20px;
  font-size: 2rem;
}

.content p {
  color: var(--font-clr);
  margin-bottom: 20px;
  font-size: 1.15rem;
  font-weight: 600;
}

.cta {
  all: unset;
  display: inline-block;
  color: var(--background-clr);
  background-color: var(--primary-clr);
  border-radius: 50px;
  padding: 15px 25px;
  margin-bottom: 20px;
  transition: var(--theme-transition);
  font-size: 1.25rem;
  text-transform: capitalize;
  cursor: pointer;
}

.cta:hover, .cta:focus {
  background-color: var(--primary-dark-clr);
}

@media (max-width: 768px) {
  .content h2 {
    font-size: 1.2rem;
  }

  .content p {
    font-size: 0.9rem;
  }

  .cta {
    font-size: 1rem;
  }
}
