.heroSection{
  overflow: hidden;
  position: relative;
  background-image: url("../../../../public/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: fit-content;
}


.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  overflow: auto !important;
}

.wave {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 117px;
  transform: rotateY(180deg);
}

.waveFill {
  fill: #1A082D;
}

.content {
  text-align: left;
  padding: 50px;
}
.heroTitle{
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  line-height: 1.2;
}
.heroSubtitle{
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
  width: 80%;
  line-height: 1.2;
}
.heroList{
  list-style: none;
  padding-left: 10px;
}
.heroList li{
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.2;
}
.vector{
  width: 50%;
}
.listStyle{
  width: 18px;
  margin-right: 6px;
}



.bottomWave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.bottomWave svg {
  position: relative;
  display: block;
  width: calc(107% + 1.3px);
  height: 90px;
}

.bottomWaveFill {
  fill: #1A082D;
}



/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .vector{
    width: 100%;
  }
  .bottomWave svg {
    width: calc(111% + 1.3px);
    height: 124px;
  }
  .wave svg {
      width: calc(100% + 1.3px);
      height: 124px;
  }
  .container{
    flex-direction: column;
  }
  .heroTitle{
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .heroSubtitle{
    font-size: 1.2rem;
    margin-bottom: 10px;
    width: 100%;
  }
  .heroList li{
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .heroList{
    padding-left: 0;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .vector{
    width: 100%;
  }
  .bottomWave svg {
    width: calc(110% + 1.3px);
    height: 65px;
  }
  .wave svg {
      width: calc(137% + 1.3px);
      height: 75px;
  }
  .container{
    flex-direction: column;
  }

  .heroTitle{
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
  }
  .heroSubtitle{
    font-size: 1rem;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .heroList li{
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .listStyle{
    width: 12px;
    margin-right: 6px;
  }
  .heroList{
    padding-left: 0;
  }
}
