.section {
  /*background-image: url('../../../../public/bg3.jpg');*/
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}


.topWave {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.topWave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 137px;
  transform: rotateY(180deg);
}

.topWaveFill {
  fill: #1A082D;
}

.container{
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}
.content {
  text-align: left;
  padding: 50px;
}
.heroTitle{
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  line-height: 1.2;
}
.heroSubTitle{
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
  width: 80%;
  line-height: 1.2;
}
.heroList{
  list-style: none;
  padding-left: 10px;
}
.heroList li{
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.2;
}

.heroList li{
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.listStyle{
  width: 18px;
  margin-right: 6px;
}
.bottomWave {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.bottomWave svg {
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 137px;
}

.bottomWaveFill {
  fill: #1A082D;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .bottomWave svg {
      width: calc(111% + 1.3px);
      height: 73px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .bottomWave svg {
      width: calc(110% + 1.3px);
      height: 66px;
  }
}
/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .topWave svg {
      width: calc(100% + 1.3px);
      height: 73px;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content {
    margin-bottom: 35px;
  }
  .heroList li{
    font-size: 1.1rem;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .topWave svg {
      width: calc(110% + 1.3px);
      height: 35px;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .heroTitle{
    text-align: center;
    font-size: 1.2rem;
  }
  .heroSubTitle{
    text-align: center;
    width: 100%;
    font-size: 1rem;
  }
  .listStyle{
    width: 13px;
    margin-right: 6px;
  }
  .content {
    padding: 20px;
  }
  .heroList li{
    margin-bottom: 10px;
    font-size: 1.1rem;
  }
  .vector{
    width: 80%;
  }
  .heroBg{
    display: flex;
    justify-content: center;
  }
}
