.container {
  position: fixed;
  top: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  z-index: 5;
  transition: all 0.2s ease;
}

.glass {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.hamburger {
  display: none;
}

.loader {
  width: 150px;
  text-align: center;
}

.container ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.container ul a {
  color: var(--font-clr);
  border-radius: 40px;
  padding: 10px 50px;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s ease;
}

.container ul a:hover {
  background-color: var(--shadow-clr);
}

.cta {
  border: 1px solid var(--font-clr);
}

@media (max-width: 768px) {
  .container {
    align-items: flex-start;
    padding: 0;
    padding-right: 20px;
  }
  
  .span {
    height: 100vh;
  }

  .container ul {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    padding-left: 20px;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease;
  }

  .container .open {
    transform: scaleY(1);
  }

  .container ul a {
    padding: 0;
    font-size: 1.5rem;
  }

  .container ul a:hover {
    background-color: transparent;
  }

  .hamburger {
    display: block;
    margin-top: 15px;
  }

  .separator {
    display: none;
  }
}
