.header {
  background-color: var(--contrast-background-clr);
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
}

.navLink {
  color: var(--font-clr);
  border-radius: 8px;
  padding: 18px;
  white-space: nowrap;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navLink:hover {
  color: var(--primary-clr);
}

.callToAction {
  color: var(--background-clr);
  background-color: var(--primary-clr);
}

.callToAction:hover {
  color: var(--background-clr);
  background-color: var(--primary-dark-clr);
}

.loaderContainer {
  margin: 0 100px;
}
