.header {
  background-color: var(--contrast-background-clr);
}

.header {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  width: 90%;
  z-index: 5;
  transition: all 0.2s ease;
}

.navScrolled {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
}

.navLink {
  color: var(--font-clr);
  border-radius: 40px;
  width: 180px;
  padding: 10px 0px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navLink:hover {
  /* color: var(--primary-clr); */
  background-color: var(--shadow-clr);
}

.disabled {
  pointer-events: none;
}

.callToAction {
  border: 1px solid var(--font-clr);
  /* color: var(--background-clr);
  background-color: var(--primary-clr); */
}

/* .callToAction:hover {
  color: var(--background-clr);
  background-color: var(--primary-dark-clr);
} */

.loaderContainer {
  margin: 0 100px;
}
