* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

#root {
  --primary-clr: #00687B;
  --primary-dark-clr: #005766;
  --primary-light-clr: #D6F9FF;
  --font-clr: #1E1E1E;
  --placeholder-clr: #AAB0B7;
  --border-clr: #AAB0B7;
  --icon-clr: #AAB0B7;
  --font-dimmed-clr: #58616A;
  --separator-clr: #58616A;
  --background-clr: #FFFFFF;
  --shadow-clr: #0000001a;
  --contrast-background-clr: #F7F7F9;
  --available: #2DCA8C;

  --error: #F91226;
  --light-error: #FFF0F1;
  --warning: #FBC02D;
  --light-warning: #FFF2C6;
  --success: #388E3C;
  --light-success: #EEFAF2;

  background-color: var(--background-clr);
  color: var(--font-clr);
  transition: background-color 0.2s ease;
  font-family: 'Inter', 'Segoe UI', 'Tahoma';
}

button {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner  {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--font-clr);
}
