.page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  margin-top: 70px;
  overflow: hidden auto;
}



.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin: 0 auto;
}
